<!--<div class="nav-list">
  <div class="nav-item" routerLink="/technology" routerLinkActive="active"><span class="nav-icon nav-icon1"></span><span class="menu-text">科技型企业</span></div>
  <div class="nav-item" routerLink="/doubleVenture" routerLinkActive="active"><span class="nav-icon nav-icon2"></span><span class="menu-text">双创企业</span></div>
  <div class="nav-item" routerLinkActive="active">
    <span class="nav-icon nav-icon3"></span><span class="menu-text">孵化培育企业</span>
    <ul class="sub-nav">
      <li class="sub-item" routerLink="/seedEnterprise" routerLinkActive="active"><span class="nav-icon nav-icon1"></span><span class="menu-text">种子企业</span></li>
      <li class="sub-item" routerLink="/gazelleEnterprise" routerLinkActive="active"><span class="nav-icon nav-icon2"></span><span class="menu-text">瞪羚企业</span></li>
      <li class="sub-item" routerLink="/unicornEnterprise" routerLinkActive="active"><span class="nav-icon nav-icon3"></span><span class="menu-text">独角兽企业</span></li>
    </ul>
  </div>
  <div class="nav-item" routerLink="/technologyPlatform" routerLinkActive="active"><span class="nav-icon nav-icon4"></span><span class="menu-text">公共技术平台</span></div>
  <div class="nav-item" routerLink="/intermediary" routerLinkActive="active"><span class="nav-icon nav-icon5"></span><span class="menu-text">科技中介机构</span></div>
  <div class="nav-item" routerLink="/incubator" routerLinkActive="active"><span class="nav-icon nav-icon6"></span><span class="menu-text">孵化器</span></div>
  &lt;!&ndash;<div class="nav-item" routerLink="/incubationPark" routerLinkActive="active"><span class="nav-icon nav-icon7"></span><span>孵化园区</span></div>&ndash;&gt;
</div>-->
<div class="nav-list">
  <div class="nav-item" routerLink="/technology" routerLinkActive="active"><span class="nav-icon technology-icon"></span><span class="menu-text">科技型企业</span></div>
  <div class="nav-item" routerLink="/doubleVenture" routerLinkActive="active"><span class="nav-icon doubleVenture-icon"></span><span class="menu-text">双创企业</span></div>
  <!--<div class="nav-item" routerLinkActive="active">
    <span class="nav-icon incubation-icon"></span><span class="menu-text">孵化培育企业</span>
    <ul class="sub-nav">
      <li class="sub-item" routerLink="/seedEnterprise" routerLinkActive="active"><span class="nav-icon seedEnterprise-icon"></span><span class="menu-text">种子企业</span></li>
      <li class="sub-item" routerLink="/gazelleEnterprise" routerLinkActive="active"><span class="nav-icon gazelleEnterprise-icon"></span><span class="menu-text">瞪羚企业</span></li>
      <li class="sub-item" routerLink="/unicornEnterprise" routerLinkActive="active"><span class="nav-icon unicornEnterprise-icon"></span><span class="menu-text">独角兽企业</span></li>
    </ul>
  </div>-->
  <div class="nav-item" routerLink="/seedEnterprise" routerLinkActive="active"><span class="nav-icon seedEnterprise-icon"></span><span class="menu-text">种子企业</span></div>
  <div class="nav-item" routerLink="/gazelleEnterprise" routerLinkActive="active"><span class="nav-icon gazelleEnterprise-icon"></span><span class="menu-text">瞪羚企业</span></div>
  <div class="nav-item" routerLink="/unicornEnterprise" routerLinkActive="active"><span class="nav-icon unicornEnterprise-icon"></span><span class="menu-text">独角兽企业</span></div>
  <div class="nav-item" routerLink="/technologyPlatform" routerLinkActive="active"><span class="nav-icon technologyPlatform-icon"></span><span class="menu-text">公共技术平台</span></div>
  <div class="nav-item" routerLink="/intermediary" routerLinkActive="active"><span class="nav-icon intermediary-icon"></span><span class="menu-text">科技中介机构</span></div>
  <div class="nav-item" routerLink="/incubator" routerLinkActive="active"><span class="nav-icon incubator-icon"></span><span class="menu-text">孵化器</span></div>
  <!--<div class="nav-item" routerLink="/incubationPark" routerLinkActive="active"><span class="nav-icon nav-icon7"></span><span>孵化园区</span></div>-->
</div>
